@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: "Merriweather", serif;
}

/* banner section styles */
.banner-container{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: 
        linear-gradient(rgb(7, 2, 17), rgba(7, 2, 17, 0)),
        url("../images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content p{
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.banner-content h1{
    color: white;
    font-size: 72px;
    font-weight: 900;
}