@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

/* banner styles */
.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: 
        linear-gradient(rgb(7, 2, 17), rgba(7, 2, 17, 0)),
        url("../images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.banner-content{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Merriweather", serif;
}

.banner-content p{
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.banner-content h1{
    color: white;
    font-size: 72px;
    font-weight: 900;
}

/* offer styles */
.offer-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.offer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.offer-content h1{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    padding-bottom: 48px;
}

.offer-content p{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    padding-bottom: 16px;
}

.offer-content h3{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    padding-bottom: 48px;
}

.offer-image{
    width: 802.9px;
    height: 500px;
}

.offer-image img{
    width: 100%;
    height: 100%;
}

/* party styles */
.party-container{
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-image:
        linear-gradient(rgb(7, 2, 17), rgba(7, 2, 17, 0)),
        url("../images/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    border-radius: 16px;
}

.party-content{
    color: white;
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 126px;
}

.party-content h1{
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
}

.party-content p{
    margin: 24px 0 48px 0;
}

.party-content h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-left: 32px;
}

.party-image img{
    width: 319.83px;
    height: 464.66px;
    margin-right: 138px;
}

/* event styles */
.event-content{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin-top: 120px;
}
.event-text{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
}

.red{
    color: red;
}

.join-now{
    width: 167px;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    color: white;
    background-color: red;
    padding: 16px 32px;
    margin-top: 48px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

/* coming soon styles */
.coming-soon-content{
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coming-soon-p1 h1{
    color: rgb(7, 2, 17);
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-top: 16px;
}

.coming-soon-p1 h3{
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.coming-soon-p1 p{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.coming-soon-p2 img{
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 100%;
    padding: 32px;
}

.coming-soon-p3 h1{
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.coming-soon-p3 p{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
}

.coming-soon-p3 img{
    margin-top: 43px;
    width: 140px;
    height: 140px;
}

/* holiday styles */
.holiday-container{
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    position: relative;
}

.holiday-content{
    width: 1068px;
    height: 260px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}

.holiday-content h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    font-family: "Merriweather", serif;
    color: rgb(7, 2, 17);
    margin-top: 16px;
    margin-bottom: 28px;
}

.holiday-content h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    font-family: "Inter", sans-serif;
    color: rgb(7, 2, 17);
}

.holiday-content p{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    font-family: "Inter", sans-serif;
    color: rgba(7, 2, 17, 0.6);
}

.holidays{
    color: rgb(255, 0, 0);
}

.solid-color{    
    width: 1320px;
    height: 229px;
    position: absolute;
    top: 76.7%;
}

.gift-box{
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
    margin-top: 64px;
    margin-left: 60.83px;
    display: flex;
}

.gift-box-discount{
    display: flex;
}

.discount{
    width: 305.69px;
    height: 305.69px;
    margin-top: 141px;
    padding-left: 177.54px;
}

/* portfolio styles */
.portfolio-container{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-top: 120px;
}

.portfolio-content h3{
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.portfolio-content h1{
    color: rgb(7, 2, 17);
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolio-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.portfolio-items{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}

.item{                                                         
    width: 424px;
    height: 450px;
}

.item img{                                                         
    width: 100%;
    height: 100%;
}

/* footer styles */
.footer-container{ 
    height: 609px;
    background-color: rgb(7, 2, 17);
}

.footer-content{
    width: 1320px;
    height: 609px;
    margin: 0 auto;
}

.footer-part1{
    height: 247.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-part2{
    height: 158px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons i{
    font-size: 62px;
    padding: 24px;
}

.footer-part3{
    height: 199.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

hr{
    border: 1px solid rgba(255, 255, 255, 0.15);
}
